* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#navbar {
  padding: 1rem;
}

.img-homepage {
  width: 100%;
}

.links {
  display: flex;
  justify-content: end;
  gap: 20px;
  margin-right: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

a.link.active {
  text-decoration: none;
  color: black;
}

a.link {
  text-decoration: none;
  color: black;
}

.btn {
  border: solid 1px cyan;
  text-decoration: none;
  color: cyan;
  background-color: #222;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-size: 0.9rem;
}

.btn:hover {
  border: solid 1px cyan;
  color: #222;
  background-color: cyan;
}

.flex-container {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.gap-1 {
  gap: 1rem;
}

.product-card {
  width: calc((100% - 2rem) / 3);
  padding: 1rem;
  background: #999797;
}

.product-image {
  width: 100%;
  height: 200px;
  object-fit: contain;
}