* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#navbar {
  background: #b61c1c;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}